.about-us-page {
  padding: 0% 0 7% 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-us-page p {
  color: rgb(43, 43, 43);
}

.about-us-main {
  margin-top: 5em;
  height: 100vh;
  width: 90vw;
  display: grid;
  grid-template-rows: min-content 0.85fr min-content;
  align-content: center;
  /* justify-items: center; */
  overflow: hidden;
  /* background-color: red; */
}

.about-us-image-container {
  overflow: hidden;
  margin: 1.5rem 0;
  /* margin-top: 1rem; */
  /* margin-bottom: 2rem; */
}
.about-us-main img {
  max-width: 100%;
  width: 100%;
  /* padding: 1em; */
  /* max-height: 60vh; */

  object-fit: cover;
  object-position: 50% -2em;
  /* margin-bottom: 1em; */
}
.about-us-subheading {
  position: relative;
  color: rgb(53, 53, 53);
}
/* .about-us-subheading::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;
  height: 0em;
  border-top: 2px dotted rgb(168, 163, 163);
  z-index: -1;
} */

.about-us-paragraph-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  max-width: 90%;
  /* text-align: justify; */
  /* line-height: auto; */
}
.about-us-paragraph + .about-us-paragraph {
  margin-top: 0.5rem;
}

.our-founders-section {
  /* background-color: red; */
  color: white;
  margin-top: 5em;
  display: grid;
  grid-template-rows: min-content 0.6fr min-content;
  justify-items: center;
  /* width: 100%; */
  padding: 5em 0 6em 0;
  background: linear-gradient(180deg, #627479 0%, #3e4244 36.77%);
}
.our-founders-introduction {
  max-width: 50em;
}
.our-founders-introduction p {
  margin: 1rem 0;
  letter-spacing: 0.15em;
}
.founders-image-container {
  overflow: hidden;
}
.about-us-founders-image {
  /* position: absolute; */
  /* max-height: 35em; */
  /* margin: 1em 0; */
  max-width: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center -6em;
}

.founders-info-container {
  display: grid;
  grid-template-columns: 1fr 1.7fr;
  outline-offset: 10px;
  max-width: 65em;
  outline: 1px solid rgb(216, 219, 188);
  /* max-width: 70%; */
  margin: 2em 10vw;
}

blockquote {
  display: flex;
  justify-content: center;
  /* border: 0.5px solid rgb(219, 219, 219); */
  padding: 4em 3em;
}
.quote-container {
  background-color: #486269;
  border-radius: 2px;
  /* margin: 0 -10%; */
  /* width: calc(100% + 20%); */
  /* border: 1px solid black; */
}
.quotation {
  /* font-size: 2rem; */
  /* max-width: 350em; */
  color: rgb(255, 255, 255);
  quotes: "\201C""\201D""\2018""\2019";
  position: relative;
  font-weight: 400;
}

.quotation:before {
  content: open-quote;
  display: inline;
  height: 0;
  line-height: 0;
  left: -10px;
  position: relative;
  top: 30px;
  color: rgb(0, 0, 0);
  font-size: 3em;
}
.quotation::after {
  content: close-quote;
  display: inline;
  height: 0;
  line-height: 0;
  /* left: 20px; */
  position: absolute;
  bottom: -0.2em;
  right: 0em;
  color: rgb(0, 0, 0);
  font-size: 3em;
}
.founders-paragaraph {
  background-color: #f1f1e6;
  color: rgb(24, 21, 21);
  /* line-height: 2rem; */
  max-width: 55em;
  padding: 0em 5em;
  display: flex;
  align-items: center;
}

.our-projects {
  margin: 5em 10% 0;
  border: 2px solid rgb(219, 219, 219);
  padding: 3em 4em;
}
.our-projects h2 {
  margin-bottom: 2rem;
}

.sarlahi-rug-container h3,
.thimi-ceramics-container h3 {
  margin-bottom: 1.1rem;
}

.thimi-ceramics-container {
  margin-top: 2rem;
}

.image-container {
  display: grid;
  overflow: hidden;
  grid-template-columns: 1fr 1fr;
  gap: 2em;
  margin: 0.5em 0;
}

#sarlahi-rug-image,
#thimi-ceramics-image {
  max-width: 100%;
  /* float: left; */
}
.thimi-ceramics-paragraph,
.sarlahi-paragraph {
  text-align: justify;
}

.sarlahi-paragraph + .sarlahi-paragraph {
  margin-top: 1rem;
}

.left-align {
  text-align: left;
}

.right-align {
  text-align: right;
}

@media (max-width: 768px) {
  .about-us-main {
    margin-top: 13vh;
    height: auto;
    width: auto;
  }
  .our-founders-section {
    margin-top: 3em;

    padding: 2em 0 1em 0;
  }
  .founders-info-container {
    display: flex;
    flex-direction: column;
    margin: 2em 1.5em;
  }
  blockquote {
    padding: 2em 2em;
    line-height: 2.5rem;
  }
  .founders-paragaraph {
    /* line-height: 2rem; */
    /* max-width: 55em; */
    padding: 2em 1.5em;
    line-height: 2rem;
  }
  .image-container {
    grid-template-columns: none;
    grid-template-rows: auto 1fr;
    margin: 0.5em 0;
  }
  .our-projects {
    margin: 2em 0 0;
    border: 2px solid rgb(219, 219, 219);
    padding: 1em;
  }
  .sarlahi-rug-container h3,
  .thimi-ceramics-container h3 {
    text-align: center;
  }
  .thimi-ceramics-paragraph,
  .sarlahi-paragraph {
    text-align: center;
  }
}
