* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.collectionSection {
  text-align: center;
  margin: 7% 0 1em 0;
}
.collectionPageHeading {
  margin: 0.5em 0;
}

.collectionWrapper {
  display: flex;
  /* flex-direction: column; */
  gap: 1em;
  flex-wrap: wrap;
}
.collectionItem:nth-child(3n + 0) {
  flex: 50%;
}
/* .collectionItem:nth-child(odd) {
  flex: 30%;
} */

/* .collectionWrapper > * {
  flex: 30%;
} */

/* .collectionWrapper:first-child {
  grid-column: 1/2;
  margin-right: 30em;
  color: green;
} */

.collectionItem {
  text-decoration: none;

  flex: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  /* height: 100%; */
  min-height: 35em; /* width: 30%; */
}
